@charset "utf-8";
@import url('../base/main.css');

#tutorials {
  background-color: transparent;
  backdrop-filter: blur(7pt);
  -webkit-backdrop-filter: blur(7pt);
  width: 100%;
  height: 70%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  transition: all .7s ease-in-out;
}

#tutorials #soon{
    font-size: calc(25px + 8vw);
}