@charset "utf-8";
@import url('main.css');

#tboxs{
  width: 100%;
  padding: 4pt 0;
}

#tboxs div.tbox {
  background-color: #f5f5f69d;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  width: 80vw;max-width: 760px;
  height: calc( 120px + 40vw);
  max-height: 500px;
  margin: 3rem auto;
  border-radius: 25pt;
  filter: drop-shadow(0px 0px 5px #00ffe182);
  transition: all .4s ease-in-out;
  overflow: hidden;
}

#tboxs div.tbox[tutorials]{
  background: url(../img/books.jpg) center/cover no-repeat;
}

#tboxs div.tbox[my-projects]{
  background: url(../img/projects.jpg) center/cover no-repeat;
}

#tboxs div.tbox[articles]{
  background: url(../img/articles.jpg) center/cover no-repeat;
}

#tboxs div.tbox div.art-box{
  background-color: #000000c9;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  transition: all .4s ease-in-out;
  width: 100%;
  height: 100%;
  border-radius: 25pt;
  position: absolute;
  top: -100%;
  left: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#tboxs div.tbox:hover div.art-box{
  top: 0;
  left: 0;
}

#tboxs div.tbox div.art-box span{
  font-size: calc(14pt + .8vw);
  text-shadow: 0 0 1pt #fdfdfdd4;
  font-family: 'roboto-bold-condensed';
}

#tboxs div.tbox div.art-box .btn{
  color: #121212;
}